/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs/dt-1.10.21
 *
 * Included libraries:
 *   DataTables 1.10.21
 */

#decisions_wrapper .row{
    width: 100%;
}

div#decisions_length,
div#decisions_filter{
    margin-bottom: 20px !important;
}

table.dataTable td{
    vertical-align: top !important;
}

#decisions_length label select{
    margin:0 5px;
}
