:root {
    --thm-font: "Karla", sans-serif;
    --heading-font: "Karla", serif;
    --special-font: "Work Sans", sans-serif;
    --thm-base: #9c8b6f;
    --thm-base-light: #cec5a9;
    --thm-base-rgb: 170, 160, 129;
    --thm-black: #252930;
    --thm-blue: #0f4060;
    --thm-black-rgb: 37, 41, 48;
}

/* decisions table search */
#SidebarList{
    width: 230px;
}

.sidebar_link{

}

.sidebar_link a{
    color: var(--thm-base);
}

.sidebar_link_main{
    font-size: 15px;
    text-transform: uppercase;
}

.sidebar_link_main a{
    color: #000;
}

.decisions-aside a.home-link{
    padding:6px;
    font-size: 13px;
    text-align: right;
    margin-bottom: 10px;
    margin-top: -5px;
    line-height: 18px;
    color: #fff !important;
    cursor: pointer;
    display: block;
    text-decoration: underline;
}

.sidebar-list a.parent-link{
    background-color: #144b6f;
    padding:6px;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 18px;
    color: #fff !important;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-list div a.child-link{
    background: #196190;
    padding: 5px 7px;
    font-size: 14px;
    line-height: 18px;
    color: #fff !important;
    cursor: pointer;
    display: block;
    width: 100%;
}

.sidebar-list div a.child-link:hover{
    background: #fff;
    color: #196190 !important;
}

.sidebar-list a.parent-link span{
    display: block;
}

.sidebar-list a.parent-link span:first-child{
    flex-grow: 1;
}

.sidebar-list a.parent-link span i{
    font-size: 10px;
}

.sidebar-list a.parent-link i {
    font-family: 'Font Awesome 5 Pro';
    content: "\f330";
}
.sidebar-list a.parent-link.active i {
    font-family: 'Font Awesome 5 Pro';
    content: "\f330";
}

.decisions-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.decisions-aside{
    width: 260px;
    padding: 5px 10px;
    background-color: #0c3a58;
}

.decisions-aside h3{
    display: block;
    color: #fff;
    padding: 10px 0 0 0;
    margin-bottom: 0;
}

.decisions-section{
    flex-grow: 1;
}

.decision-content{
    padding: 40px;
}

.decisions-section-options{
    padding: 10px 40px;
    background: #f1f1f1;
}

.input-date{
    width: 40%;
    margin-right: 15px;
}
.input-date input{
    padding: 5px 10px;
}

.input-terms{
    width: 100%;
}

.option-btn{
    width: 20%;
    margin-left: 20px;
    border-left: 1px solid #9c8b6f;
    padding-left: 10px;
    line-height: 15px;
}

.btn-search{
    background-color: #9c8b6f;
    color: #fff;
    border-radius: 0;
    padding: 5px 10px;
    border: none;
}

.btn-search:hover{
    background-color: #807055;
    color: #fff;
    border: none;
}

.input-publication{
    width: 25%;
    margin-left: 15px;
}

.input-publication,
.input-publication .form-check-label{
    line-height: 20px;
}

.decisions-section-options form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.decision-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.decision-details div.dates{
    display: flex;
    flex-direction: row;
}

.decision_main{
    line-height: 22px;
}

.decision_main h1{
    margin-bottom: 20px;
    font-size: 2.1rem;
}

.decision_main div{
    margin-bottom: 10px;
}

.decision-details div{
    padding-right: 20px;
}

.btn-print{
    background-color: #9c8b6f;
    border-color: #9c8b6f;
    color: #fff;
}

strong.block{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
}

.decisions-period{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22px;
}
