
.card-form-cadence{
    border: 1px solid rgba(0,0,0,.145);
}

.card-shadow{
    box-shadow: 0px 5px 15px 0px rgba(33, 37, 43, 0.15);
    margin-bottom: 40px;
    border: 1px solid rgba(0,0,0,.145);
}

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 0;
    position: relative;
}
.inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    overflow: hidden;
    margin-bottom: 0;
}
.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #0f4060;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
    color: #fff;
    margin-bottom: 0;
}
.inputGroup input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.inputGroup input:checked ~ label:after {
    background-color: #9c8b6f;
    border-color: #9c8b6f;
}
.inputGroup input {
    width: 32px;
    height: 32px;
    -webkit-box-ordinal-group: 2;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.block-title h5{
    font-family: var(--special-font);
    font-weight: bold;
    color: var(--thm-black);
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 0 2px;
}

#tab-categories{
    display: flex;
    flex-direction: row;
}

#main-tab-nav{
    width: 30%;
}

#main-tab-nav .nav-link {
    display: block;
    padding: .3rem .6rem;
    border-radius: 0;
    line-height: 22px;
    margin-bottom: 5px;
}

#main-tab-nav .nav-link.active {
    color: #fff;
    background-color: #0f4060;
}

#main-tab-content{
    width: 70%;
    padding-left: 20px;
    flex-grow: 1;
}
