
body{
    width: 100%;
    background-color: #fafafa;
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html{
    width: 100%;
}

table{
    font-size: 14px;
    border: 0;
}

ul{
    padding-left: 5px;
    margin-left: 5px;
}

ul li{
    list-style: square;
}

ul li, p ,h4{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr{
    height: 1px;
    background: #e5e5e5;
    width: 100%;
    border: none;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.btn-newsletter{
    display: block;
    width: 130px;
    font-family: Arial, sans-serif;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none !important;
    border: 0 !important;
    background: #9c8b6f;
    color: #fff;
}

@media only screen and (max-width: 640px){

    body[yahoo] .header-bg,
    body .header-bg{width: 440px !important; height: 10px !important;}
    body[yahoo] .main-header,
    body .main-header{line-height: 28px !important;}
    body[yahoo] .main-subheader,
    body .main-subheader{line-height: 28px !important;}

    body[yahoo] .container-y,
    body .container-y{width: 440px !important;}
    body[yahoo] .container-y-middle,
    body .container-y-middle{width: 420px !important;}
    body[yahoo] .mainContent,
    body .mainContent{width: 400px !important;}

    body[yahoo] .main-image,
    body .main-image{width: 400px !important; height: auto !important;}
    body[yahoo] .banner,
    body .banner{width: 400px !important; height: auto !important;}
    /*------ sections ---------*/
    body[yahoo] .section-item{}
    body.section-item{width: 400px !important;}
    body[yahoo] .section-img,
    body .section-img{width: 400px !important; height: auto !important;}
    body[yahoo] .section-img2,
    body .section-img2{width:240px !important; height: auto !important;}
    /*------- prefooter ------*/
    body[yahoo] .prefooter-header,
    body .prefooter-header{padding: 0 10px !important; line-height: 24px !important;}
    body[yahoo] .prefooter-subheader,
    body .prefooter-subheader{padding: 0 10px !important; line-height: 24px !important;}
    /*------- footer ------*/
    body[yahoo] .top-bottom-bg,
    body .top-bottom-bg{width: 420px !important; height: auto !important;}

}

@media only screen and (max-width: 479px){

    /*------ top header ------ */
    body[yahoo] .header-bg,
    body .header-bg{width: 280px !important; height: 10px !important;}
    body[yahoo] .top-header-left,
    body .top-header-left{width: 260px !important; text-align: center !important;}
    body[yahoo] .top-header-right,
    body .top-header-right{width: 260px !important;}
    body[yahoo] .main-header,
    body .main-header{line-height: 28px !important; text-align: center !important;}
    body[yahoo] .main-subheader,
    body .main-subheader{line-height: 28px !important; text-align: center !important;}

    /*------- header ----------*/
    body[yahoo] .logo,
    body .logo{width: 200px !important; height: auto !important;}
    body[yahoo] .unine_logo,
    body .unine_logo{width: 40px !important; height: auto !important;}
    body[yahoo] .nav,
    body .nav{width: 260px !important;}

    body[yahoo] .container-y,
    body .container-y{width: 280px !important;}
    body[yahoo] .container-y-middle,
    body .container-y-middle{width: 260px !important;}
    body[yahoo] .mainContent,
    body .mainContent{width: 240px !important;}

    body[yahoo] .main-image,
    body .main-image{width: 240px !important; height: auto !important;}
    body[yahoo] .banner,
    body .banner{width: 240px !important; height: auto !important;}
    /*------ sections ---------*/
    body[yahoo] .section-item,
    body .section-item{width: 240px !important;}
    body[yahoo] .section-img,
    body.section-img{height: auto !important; padding-left: 20px; width: 140px !important;}
    body[yahoo] .section-img2,
    body .section-img2{width: 240px !important; height: auto !important;}
    /*------- prefooter ------*/
    body[yahoo] .prefooter-header,
    body .prefooter-header{padding: 0 10px !important;line-height: 28px !important;}
    body[yahoo] .prefooter-subheader,
    body .prefooter-subheader{padding: 0 10px !important; line-height: 28px !important;}
    /*------- footer ------*/
    body[yahoo] .top-bottom-bg,
    body .top-bottom-bg{width: 260px !important; height: auto !important;}

}
