label {
    font-weight: 600;
    font-size: 16px;
}

.content-page .alert{
    margin: 0 -15px 0 -15px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-control{
    color:#343443;
    font-size: .95rem;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaab8;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaaab8;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaaab8;
}

.dt-bootstrap{
    flex-direction: column;
}

.dt-bootstrap .row{
    width: 100%;
}

div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter{
    margin-bottom: 20px;
}

div.dataTables_wrapper div.dataTables_length select{
    margin: 0 10px;
    line-height: 25px;
    padding: 0 10px;
    height: calc(1.2em + 1rem + 2px);
}

div.dataTables_wrapper div.dataTables_length label {
    justify-content: start;
}

div.dataTables_wrapper div.dataTables_filter label{
    justify-content: end;
}
div.dataTables_paginate ul.pagination li.paginate_button{
    margin: 0 2px;
}

div.dataTables_paginate ul.pagination li.paginate_button a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    z-index: 1;
    margin-left: -1px;
    color: #5369f8;
    background-color: #fff;
    border: none;
    border-radius: 30px !important;
}

div.dataTables_paginate ul.pagination li.paginate_button a:hover {
    z-index: 2;
    color: #0a29f5;
    text-decoration: none;
    background-color: #f6f6f7;
}

div.dataTables_paginate ul.pagination li.paginate_button.active a {
    color: #fff;
    background-color: #5369f8;
    border-color: #5369f8;
    border-radius: 30px !important;
    margin: 0 3px;
}

.datepicker-dropdown{
    padding: 10px;
}

.datepicker td, .datepicker th {
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    font-size: 0.85rem;
}

.datepicker-months table tr td span:hover,
.datepicker-years table tr td span:hover,
.datepicker th:hover,
.datepicker td:hover {
    background: #f1f1f1;
    cursor: pointer;
}

.datepicker table tr td, .datepicker table.table-condensed thead > tr > th, .datepicker table tr th {
    padding: 3px;
}
.datepicker table tr td, .datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
}

.datepicker-years,
.datepicker-years table,
.datepicker-months,
.datepicker-months table{
    width: 100%;
}

.datepicker-years,
.datepicker-years table tr td:hover,
.datepicker-months,
.datepicker-months table tr td:hover{
    background: #fff;
}

.datepicker table tr td span {
    display: block;
    width: 31%;
    height: 34px;
    line-height:30px;
    float: left;
    margin: 1%;
    cursor: pointer;
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datepicker table tr td span.year {
    display: block;
    width: 31%;
    height: 34px;
    line-height: 30px;
    float: left;
    margin: 1%;
    cursor: pointer;
    padding: 3px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datepicker table tr th.datepicker-switch{
    color:#000;
}

.datepicker table tr td{
    color:#3b3b3b;
}

.datepicker table tr td.old.day{
    color: #999999;
}

.datepicker table tr td.day.active{
    color: #fff;
    background-color: #0044cc;
}

#arretForm{
    position: relative;
}

.publication-card{
    position: fixed;
}

.card-categorie{
    width: 48%;
    margin: 1%;
    color: #3b4249;
}

.card-categorie .card-body{
    padding: 8px;
}

.border {
    border: 1px solid #efefef !important;
}

.list-dates{
    padding: 0 5px;
    width: 19%;
}

.list-dates p{
    margin-bottom: 0;
}

.nav-pills{
   padding: 5px;
}

.nav-month{
    text-align: center;
    text-transform: uppercase;
}

.btn-cross{
    padding:0 4px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
}

.list-dates .row{
    margin-bottom: 15px;
    font-size: 16px;
}

.decision-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.decision-details div.dates {
    display: flex;
    flex-direction: row;
}

.decision-details div {
    padding-right: 40px;
    font-size: 14px;
}

.decision-details div strong.block {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
}

.decision-text{
    font-size: 15px;
    line-height: 22px;
}

.decision-text div{
    margin-bottom:10px;
    color: #252930;
}
